@media (max-width: 1600px) {
    .jump {
        &__list {
            li {
                &:nth-child(1) {
                    width: 400px;
                }

                &:nth-child(2) {
                    padding-right: 0;
                }
            }
        }
    }
}

@media (max-width: 1581px) {
    .refund {
        &__container {
            max-width: calc(100% - 134px);
        }
    }

    .answer {
        .accordion_wrap {
            max-width: 1000px;
        }
    }

    .footer {
        padding: 0 0 80px;

        .main_container {
            flex-direction: column;
            gap: 50px;
        }

        &_link {
            flex-direction: column;
            gap: 50px;
        }

        &_social {
            flex-direction: column;
            gap: 20px;
        }
    }
}

@media (max-width: 1450px) {
    .answer {
        .accordion_wrap {
            max-width: 800px;
        }

        &__icon {
            width: 400px;
        }
    }
}

@media (max-width: 1400px) {
    .jump {
        &__list {
            li {
                &:nth-child(3) {
                    padding-left: 0;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .jump {
        &__list {
            li {
                &:nth-child(1) {
                    width: 350px;
                }

                &:nth-child(2) {
                    
                    div {
                        width: 400px;
                    }
                }

                &:nth-child(3) {
                    padding-left: 0;
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .tarif {
        &__block {
            flex-direction: column;
            align-items: center;

            &_item {
                width: 502px;
            }
        }
    }

    .answer {
        .accordion_wrap {
            max-width: 750px;
        }

        &__icon {
            width: 380px;
        }
    }
}

@media (max-width: 1200px) {
    .price_like {
        padding: 80px 0;

        .main_container {
            flex-direction: column;
            gap: 80px;
        }

        .price_link_text {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 60px;
        }

        .price_img {
            position: static;
            transform: translate(0);
            z-index: 1;
        }
    }
}

@media (max-width: 1150px) {
    .answer {
        .accordion_wrap {
            max-width: 100%;
        }

        &__icon {
            display: none;
        }
    }
}

@media (max-width: 1170px) {
    .main_title {
        font-size: 52px;
        line-height: 100%;
    }

    .btn {
        &_red {
            font-size: 24px;
            line-height: 100%;
        }

        &_light {
            font-size: 24px;
            line-height: 100%;
        }
    }

    .header {
        &_logo {
            img {
                width: 74px;
            }
        }

        nav {
            display: none;
        }
    }

    .home {
        &_img {
            top: 120px;
            width: 631px;
            right: -121px;
            height: auto;
        }

        &__container {
            padding: 150px 20px 84px;
        }
        
        h1 {
            font-size: 72px;
            line-height: 100%;
            margin-bottom: 274px;
        }

        .heart {
            width: 202px;
            left: 5px;
            top: auto;
            bottom: 173px;
        }

        .arrow {
            width: 122px;
            bottom: 240px;
        }
    }

    .about {
        padding: 80px 0;

        .main_container {
            flex-direction: column;
        }

        p {
            max-width: 100%;
            text-align: center;
        }

        img {
            width: 482px;
        }
    }

    .price_like {
        .main_title {
            padding: 0;
        }

        &_animation {
            width: 218px;
            top: 50%;
            right: -27px;
            transform: translateY(-50%);
        }

        .price_img {
            width: 550px;
            height: auto;
        }
    }

    .profiles {
        padding: 80px 0 179px;

        .main_container {
            flex-direction: column;
            align-items: center;
            gap: 80px;
        }


        &_text {
            max-width: 100%;
            text-align: center;
        }
    }

    .jump {
        padding: 80px 0;

        &__title {
            margin-bottom: 200px;
        }

        &__list {
            &_item {
                p {
                    font-size: 18px;
                }
            }

            li {
                &:nth-child(1) {
                    width: 182px;

                    img {
                        width: 174px;
                    }
                }

                &:nth-child(2) {
                    margin: -20px 0 98px;

                    div {
                        width: 187px;
                    }

                    img {
                        width: 54px;
                    }
                }

                &:nth-child(3) {
                    width: 280px;

                    div {
                        width: 100%;
                    }

                    img {
                        width: 264px;
                    }
                }
            }
        }

        &__arrow {
            top: 210px;
            width: 249px;
            transform: translateX(calc(-50% - 10px));
        }
    }

    .reviews {
        padding: 80px 0;

        &_blocks {
            flex-direction: column;
            align-items: center;
        }

        &_block {
            width: 404px;
        }

        &_btn {
            button {
                font-size: 24px;
                line-height: 100%;
            }
        }
    }

    .perfect {
        padding: 80px 0;

        &__img {
            width: 800px;
            top: 119px;
            right: -40px;
            height: auto;
        }

        &__title {
            font-size: 72px;
            line-height: 100%;
        }

        &__description {
            white-space: nowrap;
            font-size: 52px;
        }

        &__text {
            width: 274px;
            right: -10px;
        }

        .arrow_down {
            left: 47px;
            width: 61px;
            bottom: -8px;
        }

        .btn_red {
            width: 408px;
        }
    }

    .tarif {
        &__block {
            flex-direction: column;
            align-items: center;

            &_item {
                width: 502px;
            }
        }
    }

    .refund {
        padding: 80px 0;

        &__container {
            padding: 40px 33px;
        }

        &_line {
            width: 221px;
            bottom: -45px;
        }

        p {
            text-align: center;
            align-items: center;
        }


    }

    .answer {
        padding: 80px 0;
    }
}

@media (max-width: 740px) {
    .refund {
        padding: 50px 0;

        &__container {
            gap: 60px;
            border-radius: 20px;
            max-width: calc(100% - 40px);
        }

        &__title {
            text-align: center;
        }

        &_line {
            width: 120px;
            right: 50%;
            transform: translateX(50%);
        }

        p {
            font-size: 18px;
            gap: 10px;
        }
    }
}

@media (max-width: 700px) {
    .main_title {
        font-size: 32px;
    }

    .btn {
        &_red {
            font-size: 20px;
            padding: 20px 30px;
        }

        &_light {
            font-size: 20px;
            padding: 15px 25px;
        }
    }

    .header {
        &_logo {
            img {
                width: 64px;
            }
        }

        &_icon {
            img {
                width: 40px;
            }
        }
    }

    .home {
        &_img {
            width: 400px;
            right: -45px;
            top: 57px;
            height: auto;
        }

        &__container {
            padding: 140px 20px 42px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 112px;
        }

        .heart {
            width: 98.14px;
            bottom: 186px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .arrow {
            width: 79.37px;
            bottom: 205px;
            transform: translateX(calc(-50% - 9px));
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_down_icon {
            flex-direction: column;
        }
    }

    .about {
        padding: 50px 0;

        .main_container {
            flex-direction: column;
            gap: 60px;
        }

        p {
            font-size: 18px;
        }

        img {
            width: 100%;
            height: 251px;
            object-fit: contain;
        }
    }

    .price_like {
        padding: 50px 0;

        .main_container {
            gap: 60px;
        }

        .main_title {
            padding: 0;
        }

        &_animation {
            width: 134px;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
        }

        p {
            font-size: 18px;
        }

        .price_img {
            width: 350px;
            object-fit: cover;
        }
    }

    .profiles {
        padding: 50px 0;

        .main_container {
            flex-direction: column;
            align-items: center;
            gap: 80px;
        }


        &_text {
            max-width: 100%;
            text-align: center;
        }

        p {
            font-size: 18px;
        }

        &_img {
            width: 100%;
            height: 237px;
            object-fit: contain;
        }
    }

    .jump {
        padding: 50px 0 23px;

        &__title {
            margin-bottom: 60px;
        }

        &__list {
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 94px;

            li {
                &:nth-child(1) {
                    width: 204px;
                    
                    img {
                        width: 204px;
                    }
                }

                &:nth-child(2) {
                    margin: 0;
                    width: 187px;

                    div {
                        width: 100%;
                    }

                    img {
                        width: 60px;
                    }
                }

                &:nth-child(3) {
                    width: 280px;

                    div {
                        width: 100%;
                    }

                    img {
                        width: 264px;
                    }
                }
            }
        }

        &__arrow {
            position: static;
            z-index: 1;
            transform: translate(0);
            width: 100%;
            height: 195px;
            object-fit: contain;
            margin-bottom: 60px;
        }
    }

    .reviews {
        padding: 50px 0;

        .main_title {
            margin-bottom: 60px;
        }

        &_blocks {
            flex-direction: column;
            align-items: center;
        }

        &_block {
            width: 335px;

            img {
                height: auto;
                width: 100%;
            }
        }

        &_btn {
            button {
                font-size: 20px;
                line-height: 100%;
                padding: 20px 30px;
            }
        }
    }

    .perfect {
        padding: 50px 0;

        &__img {
            min-width: 480px;
            top: 100px;
            right: -25px;
            height: auto;
        }

        &__title {
            font-size: 36px;
        }

        &__description {
            white-space: wrap;
            font-size: 32px;
            margin: 60px 0 120px;
        }

        &__text {
            width: 166px;
            right: -5px;
            transform: translateY(calc(-50% + 4px));
        }

        .arrow_down {
            left: -50px;
            width: 68px;
            bottom: 10px;
        }

        &__link {
            width: 100%;
        }

        .btn_red {
            width: 100%;
        }
    }

    .tarif {
        padding: 50px 0;

        &__title {
            margin-bottom: 60px;
        }

        &__block {
            &_item {
                width: 100%;
                gap: 30px;
                border-radius: 20px;
                padding: 23px;

                h6 {
                    img {
                        width: 30px;
                    }
                }

                ul {
                    gap: 30px;

                    img {
                        width: 30px;
                    }
                    
                    span {
                        font-size: 18px;
                    }

                    .price {
                        flex-direction: row;
                    }

                    del {
                        font-size: 18px;
                    }
                }

                .btn_light {
                    width: 100%;
                    height: 70px;

                    svg {
                        width: 30px;
                    }
                }
            }
        }
    }

    .refund {
        &_line {
            right: 0px;
            bottom: -25px;
            transform: translate(0);
        }
    }

    .answer {
        padding: 50px 0 60px;

        &__title {
            text-align: center;
        }

        .accordion {
            &_wrap {
                margin-top: 60px;
            }

            &__head {
                font-size: 20px;
                line-height: 100%;
                text-align: left;
            }

            &__body {
                p {
                    font-size: 20px;
                    line-height: 100%;
                }
            }
        }
    }

    .footer {
        padding: 0 0 50px;

        a, span {
            font-size: 20px;
        }
    }

    .modal {
        &__content {
            width: calc(100% - 40px);
        }

        &__bottom {
            flex-direction: column;
            gap: 30px;

            button {
                width: 100%;
            }
        }
    }
}

@media (max-width: 480px) {
    .perfect {
        &__description {
            margin: 60px 0;
        }

        &__text {
            right: 50%;
            transform: translate(50%, calc(-50% + 29px));
        }

        .arrow_down {
            width: 50px;
            left: 0;
            bottom: 30px;
        }
    }
}

@media (max-width: 440px) {
    .refund {
        &_line {
            right: 50%;
            transform: translateX(50%);
        }
    }
}