* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(216, 208, 189);
  background-image: url("../images/bg.png");
  font-style: normal;
}

input {
  outline: none;
}

button {
  font-family: "Lato", sans-serif;
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1720px;
  padding: 0 20px;
  margin: 0 auto;
}

.main_title {
  color: rgb(119, 66, 55);
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
}

.btn_red {
  padding: 30px 50px;
  background: #D51A1A;
  color: #fff;
  border-radius: 100px;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}
.btn_red:hover {
  background: #774237;
}
.btn_light {
  color: #774237;
  padding: 25px 45px;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  border: 5px solid #D51A1A;
  border-radius: 100px;
}
.btn_light:hover {
  border-color: #774237;
}

.header {
  padding: 30px 0 0;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
.header .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo, .header_icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav_link {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header .nav_item {
  position: relative;
  z-index: 1;
}
.header .nav_item span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 50%);
}
.header .nav_item:nth-child(1) span, .header .nav_item:nth-child(4) span, .header .nav_item:nth-child(5) span, .header .nav_item:nth-child(6) span {
  transform: translate(-50%, -50%);
  width: 130px;
}
.header a {
  color: rgb(119, 66, 55);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.header .header_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.header .header_icon svg {
  transition: 0.2s ease;
}
.header .header_icon:hover svg path {
  fill: #D51A1A;
}

.home {
  background: url("../images/home_bg.png") cover/center no-repeat;
  position: relative;
}
.home_img {
  position: absolute;
  top: 128px;
  right: 0;
  z-index: -1;
  opacity: 0.6;
}
.home__container {
  padding: 242px 20px 131px;
  position: relative;
}
.home h1 {
  color: rgb(119, 66, 55);
  font-size: 96px;
  font-weight: 700;
  line-height: 115px;
  text-align: center;
  margin-bottom: 264px;
}
.home .heart {
  width: 314.65px;
  position: absolute;
  left: 0;
  top: 617px;
}
.home .arrow {
  width: 152.81px;
  position: absolute;
  bottom: 272px;
  left: 50%;
  transform: translateX(calc(-50% - 50px));
}
.home_down_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about {
  padding: 70px 0;
}
.about .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.about p {
  color: rgb(94, 77, 62);
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  max-width: 616px;
}

.price_like {
  border-top: 3px solid #774237;
  padding: 221px 0;
  background: url("../images/home_bg.png") cover/center no-repeat;
}
.price_like .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.price_like .price_link_text {
  max-width: 701px;
}
.price_like .main_title {
  padding: 25px 0;
  position: relative;
}
.price_like_animation {
  position: absolute;
  width: 279.41px;
  top: 0;
  right: -18.41px;
  z-index: -1;
}
.price_like p {
  color: rgb(94, 77, 62);
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
}
.price_like .price_img {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

.profiles {
  padding: 100px 0;
  border-top: 3px solid #774237;
  border-bottom: 3px solid #774237;
}
.profiles .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profiles_text {
  max-width: 696px;
}
.profiles .main_title {
  margin-bottom: 60px;
}
.profiles p {
  color: rgb(94, 77, 62);
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
}
.profiles_img {
  width: 544px;
}

.jump {
  padding: 100px 0;
  position: relative;
}
.jump__title {
  text-align: center;
  margin-bottom: 156px;
}
.jump__list {
  margin-bottom: 137px;
}
.jump__list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.jump__list_item p {
  color: #774237;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
}
.jump__list li {
  display: flex;
}
.jump__list li:nth-child(2) {
  margin: 68.21px 0 238px;
  justify-content: flex-end;
  padding-right: 156px;
}
.jump__list li:nth-child(3) {
  padding-left: 141px;
}
.jump__list li:nth-child(3) div {
  width: 468px;
}
.jump__arrow {
  position: absolute;
  width: 377px;
  top: 262.69px;
  left: 50%;
  transform: translateX(calc(-50% - 70px));
}
.jump__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews {
  padding: 100px 0;
}
.reviews .main_title {
  margin-bottom: 80px;
  text-align: center;
}
.reviews_blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.reviews_block {
  padding: 10px;
  overflow: hidden;
  border-radius: 30px;
  border: 3px solid #D51A1A;
  width: calc(25% - 15px);
  background-color: #fff;
}
.reviews_block img {
  width: 100%;
}
.reviews_btn {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews_btn button {
  padding: 30px 50px;
  color: rgb(240, 239, 239);
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  border-radius: 100px;
  background: rgb(213, 26, 26);
}

.perfect {
  padding: 200px 0;
  position: relative;
}
.perfect__img {
  position: absolute;
  right: 0;
  top: 12px;
  z-index: -1;
  opacity: 0.6;
}
.perfect__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1426px;
  text-align: center;
}
.perfect__title {
  color: rgb(119, 66, 55);
  font-size: 96px;
  font-weight: 700;
  line-height: 115px;
}
.perfect__description {
  margin: 80px 0;
  color: rgb(119, 66, 55);
  font-size: 72px;
  font-weight: 600;
  line-height: 150%;
  position: relative;
}
.perfect__text {
  position: absolute;
  width: 398px;
  right: -26px;
  top: 50%;
  transform: translateY(calc(-50% + 8px));
}
.perfect .arrow_down {
  position: absolute;
  width: 75px;
  left: 89px;
  bottom: -4px;
  transform: translateY(100%);
}
.perfect .btn_red {
  width: 503px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarif {
  padding: 100px 0;
}
.tarif__container {
  max-width: 1700px;
}
.tarif__title {
  text-align: center;
  margin-bottom: 80px;
}
.tarif__block {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 50px;
}
.tarif__block_item {
  border: 3px solid #D51A1A;
  border-radius: 60px;
  width: 100%;
  padding: 57px 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.tarif__block_item h6 {
  color: rgb(94, 77, 62);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.tarif__block_item ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}
.tarif__block_item ul li {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.tarif__block_item ul span {
  color: rgb(94, 77, 62);
  font-size: 32px;
  font-weight: 500;
  line-height: 150%;
}
.tarif__block_item ul .price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tarif__block_item ul del {
  color: rgb(94, 77, 62);
  font-size: 32px;
  font-weight: 300;
  line-height: 150%;
}
.tarif__block_item .btn_light {
  height: 80px;
  padding: 0px 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}
.tarif__block_item .btn_light:hover svg path {
  stroke: #774237;
}

.refund {
  padding: 100px 0;
}
.refund__container {
  background: #E9E7D2;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  max-width: 1447px;
}
.refund__title {
  position: relative;
}
.refund_line {
  position: absolute;
  width: 288px;
  right: -19px;
  bottom: -55px;
}
.refund p {
  color: rgb(94, 77, 62);
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.refund_icon {
  width: 40px;
  flex-shrink: 0;
}

.answer {
  padding: 100px 0;
}
.answer__container {
  position: relative;
}
.answer .accordion {
  background: #E9E7D2;
  border-radius: 20px;
  padding: 20px;
}
.answer .accordion_wrap {
  max-width: 1113px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 80px;
}
.answer .accordion__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(119, 66, 55);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.answer .accordion__head .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #5E4D3E;
  flex-shrink: 0;
}
.answer .accordion__head .icon img:nth-child(1) {
  display: none;
}
.answer .accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.answer .accordion__body p {
  color: rgb(94, 77, 62);
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 40px;
}
.answer .accordion.active .icon img {
  display: block;
}
.answer .accordion.active .icon img:nth-child(2) {
  display: none;
}
.answer__icon {
  position: absolute;
  width: 423px;
  right: 0;
  top: 202px;
}

.footer {
  padding: 40px 0;
}
.footer .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_link {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer .underline {
  transition: 0.2s ease;
  position: relative;
}
.footer .underline span {
  transition: 0.2s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: rgb(119, 66, 55);
}
.footer .underline:hover span {
  width: 100%;
}
.footer a, .footer span {
  color: rgb(119, 66, 55);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.footer_social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .footer_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.footer .footer_icon svg {
  transition: 0.2s ease;
}
.footer .footer_icon:hover svg path {
  fill: #D51A1A;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.modal.active {
  display: flex;
}
.modal__bg {
  background: #D8D0BD;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal__content {
  position: relative;
  background: #E9E7D2;
  border-radius: 20px;
  padding: 20px;
  width: 427px;
}
.modal__close {
  width: 30px;
  height: 30px;
  background: #F6F7F9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 30px;
}
.modal__close:hover svg path {
  fill: #D51A1A;
}
.modal .form_control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.modal .form_control label {
  color: rgba(119, 66, 55, 0.7);
  font-size: 16px;
}
.modal .form_control input {
  width: 100%;
  font-size: 16px;
  color: #774237;
  padding: 0 20px;
  height: 45px;
  border: 0;
  border-radius: 10px;
}
.modal .checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 50px;
}
.modal .checkbox .icon {
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: #F0EFEF;
}
.modal .checkbox .icon svg {
  display: none;
}
.modal .checkbox span {
  font-size: 15px;
  color: #774237;
}
.modal .checkbox input {
  display: none;
}
.modal .checkbox input[type=checkbox]:checked + .icon svg {
  display: block;
}
.modal__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.modal__bottom p {
  font-size: 24px;
  color: #774237;
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal__bottom button {
  height: 43px;
  padding: 0 27px;
  border-width: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
}
.modal__bottom button svg {
  flex-shrink: 0;
}
.modal__bottom button:hover svg path {
  stroke: #774237;
}

@media (max-width: 1600px) {
  .jump__list li:nth-child(1) {
    width: 400px;
  }
  .jump__list li:nth-child(2) {
    padding-right: 0;
  }
}
@media (max-width: 1581px) {
  .refund__container {
    max-width: calc(100% - 134px);
  }
  .answer .accordion_wrap {
    max-width: 1000px;
  }
  .footer {
    padding: 0 0 80px;
  }
  .footer .main_container {
    flex-direction: column;
    gap: 50px;
  }
  .footer_link {
    flex-direction: column;
    gap: 50px;
  }
  .footer_social {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 1450px) {
  .answer .accordion_wrap {
    max-width: 800px;
  }
  .answer__icon {
    width: 400px;
  }
}
@media (max-width: 1400px) {
  .jump__list li:nth-child(3) {
    padding-left: 0;
  }
}
@media (max-width: 1300px) {
  .jump__list li:nth-child(1) {
    width: 350px;
  }
  .jump__list li:nth-child(2) div {
    width: 400px;
  }
  .jump__list li:nth-child(3) {
    padding-left: 0;
  }
}
@media (max-width: 1250px) {
  .tarif__block {
    flex-direction: column;
    align-items: center;
  }
  .tarif__block_item {
    width: 502px;
  }
  .answer .accordion_wrap {
    max-width: 750px;
  }
  .answer__icon {
    width: 380px;
  }
}
@media (max-width: 1200px) {
  .price_like {
    padding: 80px 0;
  }
  .price_like .main_container {
    flex-direction: column;
    gap: 80px;
  }
  .price_like .price_link_text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
  }
  .price_like .price_img {
    position: static;
    transform: translate(0);
    z-index: 1;
  }
}
@media (max-width: 1150px) {
  .answer .accordion_wrap {
    max-width: 100%;
  }
  .answer__icon {
    display: none;
  }
}
@media (max-width: 1170px) {
  .main_title {
    font-size: 52px;
    line-height: 100%;
  }
  .btn_red {
    font-size: 24px;
    line-height: 100%;
  }
  .btn_light {
    font-size: 24px;
    line-height: 100%;
  }
  .header_logo img {
    width: 74px;
  }
  .header nav {
    display: none;
  }
  .home_img {
    top: 120px;
    width: 631px;
    right: -121px;
  }
  .home__container {
    padding: 150px 20px 84px;
  }
  .home h1 {
    font-size: 72px;
    line-height: 100%;
    margin-bottom: 274px;
  }
  .home .heart {
    width: 202px;
    left: 5px;
    top: auto;
    bottom: 173px;
  }
  .home .arrow {
    width: 122px;
    bottom: 240px;
  }
  .about {
    padding: 80px 0;
  }
  .about .main_container {
    flex-direction: column;
  }
  .about p {
    max-width: 100%;
    text-align: center;
  }
  .about img {
    width: 482px;
  }
  .price_like .main_title {
    padding: 0;
  }
  .price_like_animation {
    width: 218px;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
  }
  .price_like .price_img {
    width: 550px;
  }
  .profiles {
    padding: 80px 0 179px;
  }
  .profiles .main_container {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .profiles_text {
    max-width: 100%;
    text-align: center;
  }
  .jump {
    padding: 80px 0;
  }
  .jump__title {
    margin-bottom: 200px;
  }
  .jump__list_item p {
    font-size: 18px;
  }
  .jump__list li:nth-child(1) {
    width: 182px;
  }
  .jump__list li:nth-child(1) img {
    width: 174px;
  }
  .jump__list li:nth-child(2) {
    margin: -20px 0 98px;
  }
  .jump__list li:nth-child(2) div {
    width: 187px;
  }
  .jump__list li:nth-child(2) img {
    width: 54px;
  }
  .jump__list li:nth-child(3) {
    width: 280px;
  }
  .jump__list li:nth-child(3) div {
    width: 100%;
  }
  .jump__list li:nth-child(3) img {
    width: 264px;
  }
  .jump__arrow {
    top: 210px;
    width: 249px;
    transform: translateX(calc(-50% - 10px));
  }
  .reviews {
    padding: 80px 0;
  }
  .reviews_blocks {
    flex-direction: column;
    align-items: center;
  }
  .reviews_block {
    width: 404px;
  }
  .reviews_btn button {
    font-size: 24px;
    line-height: 100%;
  }
  .perfect {
    padding: 80px 0;
  }
  .perfect__img {
    width: 800px;
    top: 119px;
    right: -40px;
  }
  .perfect__title {
    font-size: 72px;
    line-height: 100%;
  }
  .perfect__description {
    white-space: nowrap;
    font-size: 52px;
  }
  .perfect__text {
    width: 274px;
    right: -10px;
  }
  .perfect .arrow_down {
    left: 47px;
    width: 61px;
    bottom: -8px;
  }
  .perfect .btn_red {
    width: 408px;
  }
  .tarif__block {
    flex-direction: column;
    align-items: center;
  }
  .tarif__block_item {
    width: 502px;
  }
  .refund {
    padding: 80px 0;
  }
  .refund__container {
    padding: 40px 33px;
  }
  .refund_line {
    width: 221px;
    bottom: -45px;
  }
  .refund p {
    text-align: center;
    align-items: center;
  }
  .answer {
    padding: 80px 0;
  }
}
@media (max-width: 740px) {
  .refund {
    padding: 50px 0;
  }
  .refund__container {
    gap: 60px;
    border-radius: 20px;
    max-width: calc(100% - 40px);
  }
  .refund__title {
    text-align: center;
  }
  .refund_line {
    width: 120px;
    right: 50%;
    transform: translateX(50%);
  }
  .refund p {
    font-size: 18px;
    gap: 10px;
  }
}
@media (max-width: 700px) {
  .main_title {
    font-size: 32px;
  }
  .btn_red {
    font-size: 20px;
    padding: 20px 30px;
  }
  .btn_light {
    font-size: 20px;
    padding: 15px 25px;
  }
  .header_logo img {
    width: 64px;
  }
  .header_icon img {
    width: 40px;
  }
  .home_img {
    width: 400px;
    right: -45px;
    top: 57px;
  }
  .home__container {
    padding: 140px 20px 42px;
  }
  .home h1 {
    font-size: 36px;
    margin-bottom: 112px;
  }
  .home .heart {
    width: 98.14px;
    bottom: 186px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home .arrow {
    width: 79.37px;
    bottom: 205px;
    transform: translateX(calc(-50% - 9px));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_down_icon {
    flex-direction: column;
  }
  .about {
    padding: 50px 0;
  }
  .about .main_container {
    flex-direction: column;
    gap: 60px;
  }
  .about p {
    font-size: 18px;
  }
  .about img {
    width: 100%;
    height: 251px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .price_like {
    padding: 50px 0;
  }
  .price_like .main_container {
    gap: 60px;
  }
  .price_like .main_title {
    padding: 0;
  }
  .price_like_animation {
    width: 134px;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
  }
  .price_like p {
    font-size: 18px;
  }
  .price_like .price_img {
    width: 100%;
    width: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .profiles {
    padding: 50px 0;
  }
  .profiles .main_container {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .profiles_text {
    max-width: 100%;
    text-align: center;
  }
  .profiles p {
    font-size: 18px;
  }
  .profiles_img {
    width: 100%;
    height: 237px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .jump {
    padding: 50px 0 23px;
  }
  .jump__title {
    margin-bottom: 60px;
  }
  .jump__list {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 94px;
  }
  .jump__list li:nth-child(1) {
    width: 204px;
  }
  .jump__list li:nth-child(1) img {
    width: 204px;
  }
  .jump__list li:nth-child(2) {
    margin: 0;
    width: 187px;
  }
  .jump__list li:nth-child(2) div {
    width: 100%;
  }
  .jump__list li:nth-child(2) img {
    width: 60px;
  }
  .jump__list li:nth-child(3) {
    width: 280px;
  }
  .jump__list li:nth-child(3) div {
    width: 100%;
  }
  .jump__list li:nth-child(3) img {
    width: 264px;
  }
  .jump__arrow {
    position: static;
    z-index: 1;
    transform: translate(0);
    width: 100%;
    height: 195px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 60px;
  }
  .reviews {
    padding: 50px 0;
  }
  .reviews .main_title {
    margin-bottom: 60px;
  }
  .reviews_blocks {
    flex-direction: column;
    align-items: center;
  }
  .reviews_block {
    width: 335px;
  }
  .reviews_btn button {
    font-size: 20px;
    line-height: 100%;
    padding: 20px 30px;
  }
  .perfect {
    padding: 50px 0;
  }
  .perfect__img {
    min-width: 480px;
    top: 100px;
    right: -25px;
  }
  .perfect__title {
    font-size: 36px;
  }
  .perfect__description {
    white-space: wrap;
    font-size: 32px;
    margin: 60px 0 120px;
  }
  .perfect__text {
    width: 166px;
    right: -5px;
    transform: translateY(calc(-50% + 4px));
  }
  .perfect .arrow_down {
    left: -50px;
    width: 68px;
    bottom: 10px;
  }
  .perfect__link {
    width: 100%;
  }
  .perfect .btn_red {
    width: 100%;
  }
  .tarif {
    padding: 50px 0;
  }
  .tarif__title {
    margin-bottom: 60px;
  }
  .tarif__block_item {
    width: 100%;
    gap: 30px;
    border-radius: 20px;
    padding: 23px;
  }
  .tarif__block_item h6 img {
    width: 30px;
  }
  .tarif__block_item ul {
    gap: 30px;
  }
  .tarif__block_item ul img {
    width: 30px;
  }
  .tarif__block_item ul span {
    font-size: 18px;
  }
  .tarif__block_item ul .price {
    flex-direction: row;
  }
  .tarif__block_item ul del {
    font-size: 18px;
  }
  .tarif__block_item .btn_light {
    width: 100%;
    height: 70px;
  }
  .tarif__block_item .btn_light svg {
    width: 30px;
  }
  .refund_line {
    right: 0px;
    bottom: -25px;
    transform: translate(0);
  }
  .answer {
    padding: 50px 0 60px;
  }
  .answer__title {
    text-align: center;
  }
  .answer .accordion_wrap {
    margin-top: 60px;
  }
  .answer .accordion__head {
    font-size: 20px;
    line-height: 100%;
    text-align: left;
  }
  .answer .accordion__body p {
    font-size: 20px;
    line-height: 100%;
  }
  .footer {
    padding: 0 0 50px;
  }
  .footer a, .footer span {
    font-size: 20px;
  }
  .modal__content {
    width: calc(100% - 40px);
  }
  .modal__bottom {
    flex-direction: column;
    gap: 30px;
  }
  .modal__bottom button {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .perfect__description {
    margin: 60px 0;
  }
  .perfect__text {
    right: 50%;
    transform: translate(50%, calc(-50% + 29px));
  }
  .perfect .arrow_down {
    width: 50px;
    left: 0;
    bottom: 30px;
  }
}
@media (max-width: 440px) {
  .refund_line {
    right: 50%;
    transform: translateX(50%);
  }
}/*# sourceMappingURL=style.css.map */